@model Category
@{
    ViewData["Title"] = "Create";
}

<div class="container p-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Create Category</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Index" class="btn btn-primary">Back To Catgories</a>
        </div>
    </div>
    <hr />

    @*<div asp-validation-summary="All"></div>*@

    <form method="post">

        <div class="form-group pb-1">
            <label asp-for="Name" class="pb-1"></label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group pb-1">
            <label asp-for="DisplayOrder" class="pb-1"></label>
            <input type="number" asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>

        <div class="form-group pb-1">
            <label asp-for="CreatedDateTime" class="pb-1"></label>
            <input type="date" asp-for="CreatedDateTime" class="form-control" />
            <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
            &nbsp;
        </div>
        
        <button type="submit" class="btn btn-primary">Create</button>

    </form>

</div>

@section scripts{
    @{
        <partial name="_validationScriptsPartial" />
    }
}

